{% extends 'base.html.twig' %}

{% block title %}Coachs
{% endblock %}

{% block body %}
	<h1>Coachs</h1>

	<table class="table table-active table-hover">
		<thead>
			<tr>
				<th scope="col">N°</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table table-light">
				<td>{{ coach.id }}</td>
				<td>
					<strong>{{ coach.nom }}</a>
				</td>
				<td>
					<strong>{{ coach.prenom }}</a>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
