{% extends 'base.html.twig' %}

{% block title %}New Training
{% endblock %}

{% block body %}

	{# <a class="btn btn-primary mb-2" href="{{ path('training_index') }}">Retour à la liste</a> #}
	<h1>Créer un nouveau coach</h1>
	{{ include('coach/_form.html.twig') }}

{% endblock %}
