{% extends 'base.html.twig' %}

{% block title %}New Training
{% endblock %}

{% block body %}

	<div class="d-flex justify-content-between mb-2">
		<a href="{{ path('home_admin_index')}}" class="btn btn-danger">
			<i class="fas fa-caret-left"></i>
			Retour</a>
	</div>
	<h1>Créer un nouveau coach</h1>
	{{ include('coach/_form.html.twig') }}

{% endblock %}
